/************************************************************************************/
/**********************************  ELEMENTS  **************************************/
/************************************************************************************/
body{
    margin:0;
    padding: auto;
}

h1{
    margin-top: 0;
    padding-top: 5%;
}

a {
    text-decoration: none;
}


/************************************************************************************/
/**********************************   CLASSES  **************************************/
/************************************************************************************/

.header{
    position:fixed;
    background-color: rgb(165, 116, 42);
    width:100%;
}







/************************************************************************************/
/**********************************   IDs  **************************************/
/************************************************************************************/
